{# @var craft \craft\web\twig\variables\CraftVariable #}
{# @var settings \gemini\craftgems\models\Settings #}

{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Gemini API Key",
    instructions: 'Enter your Google GenAI API Key. You can get one for free at <a href="https://aistudio.google.com/app/apikey" target="_blank">Google AI Studio</a>.',
    id: 'apiKey',
    name: 'apiKey',
    value: settings.apiKey,
    required: true,
}) }}

{% set cols = {
    name: {
        heading: 'Gem Name'|t('craft-gems'),
        type: 'singleline',
        width: '30%',
    },
    instruction: {
        heading: 'Model ID/Prompt'|t('craft-gems'),
        type: 'multiline',
    }
} %}

{{ forms.editableTableField({
    label: "Gems"|t('craft-gems'),
    instructions: "Define the Gems available for asset processing."|t('craft-gems'),
    id: 'gems',
    name: 'gems',
    cols: cols,
    rows: settings.gems|default([]),
    addRowLabel: "Add a Gem"|t('craft-gems'),
}) }}
